<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: page">

    <div th:fragment="content">
        <div th:if="${session.admin == true}">
            <div th:if="${message} != null">
                <div class="alert alert-success" role="alert" th:if="${type} == 'success'" th:text="${message}"></div>
                <div class="alert alert-danger" role="alert" th:if="${type} == 'danger'" th:text="${message}"></div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading clearfix text-center">
                    <h1>Administrator Tools</h1>
                </div>
                <div class="panel-body">
                    <div class="col-md-3"></div>
                    <div class="well col-md-6">
                        <h3 class="text-center">Search Users</h3><br/>
                        <div class="form-group">
                            <form th:action="@{/user/admin}" th:object="${searchCriteria}" th:method="post">
                                <label>Last Name: </label>
                                <input class="form-control" type="text" th:field="*{lastname}"/>
                                <br/>
                                <div class="text-center"><input class="btn btn-primary" type="submit" value="Search"/></div>
                            </form>
                        </div>
                    </div>
                    <br/>
                    <table class="table">
                        <tr>
                            <th width="25%">First Name</th>
                            <th width="25%">Last Name</th>
                            <th width="25%">Username</th>
                            <th width="25%">Ban/Unban</th>
                        </tr>
                        <tr th:each="user : ${searchedUsers}">
                            <td th:text="${user.firstname}"></td>
                            <td th:text="${user.lastname}"></td>
                            <td th:text="${user.username}"></td>
                            <td>
                                <form th:action="@{/user/admin/ban/} + ${user.id}" th:object="${user}" th:method="post">
                                    <input class="btn btn-primary"
                                           type="submit"
                                           th:if="${user.ban == false}"
                                           th:href="@{/user/admin/ban/} + ${user.id}"
                                           th:value="'Ban ' + ${user.firstname} + ' ' + ${user.lastname}"/>
                                    <input class="btn btn-primary"
                                           type="submit"
                                           th:if="${user.ban == true}"
                                           th:href="@{/user/admin/ban/} + ${user.id}"
                                           th:value="'Unban ' + ${user.firstname} + ' ' + ${user.lastname}"/>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</html>