<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: page" class="html">

    <div th:fragment="content">
        <div class="col-md-12" th:if="${message} != null">
            <div class="alert alert-success" role="alert" th:if="${type} == 'success'" th:text="${message}"></div>
            <div class="alert alert-danger" role="alert" th:if="${type} == 'danger'" th:text="${message}"></div>
        </div>

        <div class="col-md-12 text-center">
            <h1>Login</h1>
        </div>
        <div class="col-md-3"></div>
        <div class="well col-md-6">
            <div class="form-group">
                <form action="#" th:action="@{/user/login}" th:object="${user}" method="post">
                    <label class="form-check-label">Username</label>
                    <input class="form-control" type="text" th:field="*{username}"/><br/>
                    <label class="form-check-label">Password</label>
                    <input class="form-control" type="password" th:field="*{password}"/>
                    <br/><br/>

                    <div class="text-center"><input class="btn btn-primary" type="submit" value="Login"/></div>
                </form>
            </div>
        </div>
    </div>

</html>