<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MaxThreads - Register</title>
</head>
<body>
    <h1>Registration</h1>

    <form action="#" th:action="@{/user/register}" th:object="${user}" method="post">
        <p>First Name</p>
        <input type="text" th:field="*{firstname}"/>
        <p>Last Name</p>
        <input type="text" th:field="*{lastname}"/>
        <p>Username</p>
        <input type="text" th:field="*{username}"/>
        <p>Password</p>
        <input type="text" th:field="*{password}"/>
        <br/><br/>

        <input type="submit" value="Register"/>
    </form>

    <div th:if="${message} != null">
        <p><span th:text="${message}" /></p>
    </div>
</body>
</html>