<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: page">

    <div th:fragment="content">
        <h1>Registration</h1>

        <div class="form-group">
            <form action="#" th:action="@{/user/register}" th:object="${user}" method="post">
                <label class="form-check-label">First Name: </label><span style="color:red;"> *</span>
                <input class="form-control" type="text" th:field="*{firstname}"/><br/>

                <label class="form-check-label">Last Name: </label><span style="color:red;"> *</span>
                <input class="form-control" type="text" th:field="*{lastname}"/><br/>

                <label class="form-check-label">Username: </label><span style="color:red;"> *</span>
                <input class="form-control" type="text" th:field="*{username}"/><br/>

                <label class="form-check-label">Password: </label><span style="color:red;"> *</span>
                <input class="form-control" type="password" th:field="*{password}"/><br/>

                <br/>
                <label class="form-check-label">Token: </label><span style="color:red;"> optional</span>
                <input class="form-control" type="text" th:field="*{isAdmin}"/><br/>
                <br/><br/>

                <input class="btn btn-primary" type="submit" value="Register"/>
            </form>
        </div>

        <div th:if="${message} != null">
            <p><span th:text="${message}" /></p>
        </div>
    </div>
</html>