<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: page">
    <div th:fragment="content">
        <div class="col-md-12" th:if="${message} != null">
            <div class="alert alert-success" role="alert" th:if="${type} == 'success'" th:text="${message}"></div>
            <div class="alert alert-danger" role="alert" th:if="${type} == 'danger'" th:text="${message}"></div>
        </div>

        <div class="col-md-12 text-center">
            <h1>Registration</h1>
        </div>
        <div class="col-md-3"></div>
        <div class="well col-md-6">
            <div class="form-group">
                <form action="#" th:action="@{/user/update}" th:object="${user}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <label class="form-check-label">First Name</label>
                    <input class="form-control" type="text" th:field="*{firstname}"/><br/>
                    <label class="form-check-label">Last Name</label>
                    <input class="form-control" type="text" th:field="*{lastname}"/><br/>
                    <label class="form-check-label">Username</label>
                    <input class="form-control" type="text" th:field="*{username}"/><br/>
                    <label class="form-check-label">Change Password</label>
                    <input class="form-control" type="password" th:field="*{password}"/><br/>
                    <label class="form-check-label">Admin </label>
                    <input class="form-control" type="text" th:field="*{isAdmin}"/>

                    <input type="hidden" th:field="*{ban}"/>

                    <br/><br/>

                    <div class="text-center"><input class="btn btn-primary" type="submit" value="Update User Details"/></div>
                </form>
            </div>
        </div>
    </div>
</html>