<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="headitems">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>

    <div th:fragment="header">
        <style>
            .header
            {
                background-color: #A62639;
                height:200px;
                width:100%;
                margin-bottom:20px;
            }
            .header-text
            {
                margin-top:4px;
                color:white;
            }
        </style>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/user/register}">Register</a>
        <a th:href="@{/user/login}">Login</a>
        <a th:href="@{/user/logout}">Logout</a>
        <div class="header">
            <div class="container">
                <div class="col-md-12 header-text">
                    <h1>MaxThreads! Your Simple Message Board Site.</h1>
                    <p>Create, Read, Reply, Enjoy!</p>
                </div>
            </div>
        </div>
    </div>

</html>