<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: page">

    <div th:fragment="content">
        <div th:if="${session.login != null}">
            <h1>Confirm Deletion</h1>
            <form action="#" th:action="@{/thread/delete} + ${thread.threadID}" th:object="${thread}" method="post">
                <h2 th:text="${thread.heading}"></h2>
                <p th:text="${thread.content}"></p>

                <input type="submit" value="Update Reply"/>
            </form>
        </div>

        <div th:if="${message} != null">
            <p><span th:text="${message}" /></p>
        </div>
    </div>
</html>