<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: page">

    <div th:fragment="content">
        <div th:if="${session.login != null}">
            <h1>Edit Thread</h1>
            <form action="#" th:action="@{/thread/}+${thread.threadID}" th:object="${thread}" method="post">
                <p>Heading</p>
                <input type="text" th:field="*{heading}"/>
                <p>Content</p>
                <input type="text" th:field="*{content}"/>

                <input type="hidden" th:id="ownerID" th:name="ownerID" th:value="${thread.ownerID}"/>
                <input type="hidden" th:id="ownerName" th:name="ownerName" th:value="${thread.ownerName}"/>
                <input type="hidden" th:id="timeCreated" th:name="timeCreated" th:value="${thread.timeCreated}"/>
                <input type="hidden" th:id="timeUpdated" th:name="timeUpdated" th:value="${#dates.format(#dates.createNow(), 'dd/MM/YYYY HH:mm:ss')}"/>
                <br/><br/>

                <input type="submit" value="Update Thread"/>
            </form>
        </div>
        <div th:if="${message} != null">
            <p><span th:text="${message}" /></p>
        </div>
    </div>
</html>