<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MaxThreads</title>
</head>
<body>
    <div th:if="${session.login != null}">
        <a th:href="@{/thread/create}">Create Thread</a>
    </div>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Heading</th>
            <th>Content</th>
            <th>OwnerID</th>
            <th>timeCreated</th>
            <th>timeUpdated</th>
        </tr>
        <tr th:each="thread : ${threads}">
            <td th:text="${thread.threadID}"></td>
            <td th:text="${thread.heading}"></td>
            <td th:text="${thread.content}"></td>
            <td th:text="${thread.ownerID}"></td>
            <td th:text="${thread.timeCreated}"></td>
            <td th:text="${thread.timeUpdated}"></td>
        </tr>
    </table>

</body>
</html>