<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: page">

    <div th:fragment="content">
        <div th:if="${session.login != null}">
            <h1>Reply to Thread</h1>
            <form action="#" th:action="@{/reply/}+${thread.threadID}" th:object="${reply}" method="post">
                <input type="text" th:field="*{content}"/>

                <input type="hidden" th:id="threadID" th:name="threadID" th:value="${thread.threadID}"/>
                <input type="hidden" th:id="ownerID" th:name="ownerID" th:value="${session.login}"/>
                <input type="hidden" th:id="ownerName" th:name="ownerName" th:value="${session.loginName}"/>
                <input type="hidden" th:id="timeCreated" th:name="timeCreated" th:value="${#dates.format(#dates.createNow(), 'dd/MM/YYYY HH:mm:ss')}"/>
                <input type="hidden" th:id="timeUpdated" th:name="timeUpdated" th:value="${#dates.format(#dates.createNow(), 'dd/MM/YYYY HH:mm:ss')}"/>
                <br/><br/>

                <input type="submit" value="Reply"/>
            </form>
        </div>
        <div th:if="${message} != null">
            <p><span th:text="${message}" /></p>
        </div>
    </div>
</html>