<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: page">

    <div th:fragment="content">
        <div th:if="${session.login != null}">
            <h1>Confirm Deletion of Reply</h1>
            <form action="#" th:action="@{/reply/delete/} + ${thread.threadID} + '/' + ${reply.replyID}" th:object="${reply}" method="post">
                <p th:text="${reply.content}"></p>

                <input type="submit" value="Delete"/>
            </form>
        </div>
        <div th:if="${message} != null">
            <p><span th:text="${message}" /></p>
        </div>
    </div>
</html>